{% extends "layout.html" %}
{% block body %}
<form action="{% url 'twitter:add' %}" method=post >
{% csrf_token %}
    <dl>
      <dt>Tweet:
      <dd><textarea name=text rows=5 cols=20></textarea>
      <dd><input type=submit value=Share>
    </dl>
  </form>

  <ul class=entries>
{%if latest_tweet_list%}
{% csrf_token %}
    {%for tweet in latest_tweet_list%}
        <li>
            <dl>
            <dt>
            <a href="{% url 'twitter:detail' tweet.user.id%}">
            {{tweet.user}}</a>
            <dd>{{ tweet.text }}
            </dl>
        </li>
    {% endfor %}
{% else %}
  <p>No tweet are available.</p>
{% endif %}
      
{% endblock %}